body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.7em;
  color: $base-font-color;
  background-color: $light-color;
}

a {
	color: $primary-color;
	transition: all 0.5s ease 0s;
}

a:hover, 
a:focus {
	text-decoration: none;
}

ul,li {
	list-style: none;
	
}

input, 
textarea, 
buttons {
	@include border-radius (0px);
}

label {
	font-weight: normal;
}