/* Font Colors */

$base-font-size: 14px;
$base-font-family: "Calibri", sans-serif;
$base-font-color: #616365;

/* Background Colors */

$primary-color: #002664;
$secondary-color: #bfdee8;
$light-color: #dfe0e0;
$tertiary-color: #eaf4f7;

/* Media Queries */

$tablet-width: 768px;
$desktop-width: 1024px;

$break-small: 320px;
$break-large: 1200px;