.btn {
	background-color: #fff;
	color: $primary-color;
	text-transform: uppercase;
	font-size: 14px;
	border: none;
	padding: 8px 24px;
	border-radius: 0px;
	font-weight: 700;
	transition: all 0.5s ease 0s;
	
	&:hover {
		background-color: $primary-color;
		color: #fff;
	}
	
	&:focus {
		background-color: #fff;
		color: $primary-color;
	}
}

.text-toogle[aria-expanded=true] .text-expanded {
  display: none;
}
.text-toogle[aria-expanded=false] .text-collapsed {
  display: none;
}
